
        body {
            font-family: 'Times', serif;
            color: #000000; /* Texte en NOIR */
            background-color: #f0f8f0; /* Très clair vert */
            font-size: 10pt; /* Taille de texte plus petite */
        }

        h2 {
            font-size: 12pt; /* Taille des titres */
            text-decoration: underline; /* Soulignement des titres */
            text-align: center;
            background-color: #98FB98; /* Fond jaune très clair */
            color: #333; /* Texte noir */
            padding: 5px;
        }
t1 {
    font-size: 12pt; /* Taille des titres */
    text-decoration: underline; /* Soulignement des titres */
    /* text-align: center; */
    /*background-color: #98FB98;  Fond jaune très clair */
    color: maroon; /* Texte noir */
    padding: 5px;
    font-weight: bold; /* Ajoute du texte en gras */
}

        /* Style pour les théorèmes */
        .theorem-box {
            background-color: #f0f8ff; /* Light cyan background */
            border: 2px solid #ffa500; /* Orange border */
            border-radius: 10px;
            padding: 15px;
            padding-top: 20px;
            width: 100%; /* La largeur totale de la page */
            box-sizing: border-box;
            position: relative;
        }

        /* Le titre avec des bords arrondis en haut et en bas */
        .theorem-title {
            background-color: #fdf1b8; /* Fond orange */
            border: 1px solid #4b0082; /* Bordure indigo */
            border-radius: 10px;
            color: black;
            font-weight: bold;
            padding: 5px 10px;
            display: inline-block;
            position: absolute;
            top: -20px; /* Ajustement pour attacher avec la box principale */
            left: 15px;
        }

        .theorem-box p {
            margin-top: 0; /* Réduit l'espace au-dessus du paragraphe */
            margin-bottom: 10px;
        }

        .theorem-box p + p {
            margin-top: 10px;
        }

        .definition-box {
            background-color: #f9f9f9; /* Light gray background */
            border: 2px solid #34a853; /* Standard green border */
            border-left: 5px solid #34a853; /* Thicker green left border */
            padding: 15px;
            margin: 20px 0;
            font-family: 'Times New Roman', Times, serif;
            position: relative;
        }

        .definition-title {
            background-color: #b0c4de; /* Light blue background */
            border: 1px solid #4b0082; /* Indigo border */
            border-radius: 10px;
            color: black;
            font-weight: bold;
            padding: 5px 10px;
            display: inline-block;
            position: absolute;
            top: -20px;
            left: 15px;
        }

        .definition-box p {
            margin: 5px 0;
            color: black;
        }

        .proof-box {
            border-top: 2px solid #34a853;
            border-left: 2px solid #34a853;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #ffffe0;
            position: relative;
        }

        .proof-title {
            background-color: #b0c4de; /* Light blue background */
            border: 1px solid #4b0082; /* Indigo border */
            border-radius: 10px;
            color: black;
            font-weight: bold;
            padding: 5px 10px;
            display: inline-block;
            position: absolute;
            top: -20px;
            left: 15px;
        }

        .proof-box p {
            margin: 5px 0;
            color: black;
        }

        .end-symbol {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: #004d00;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }

        .cache {
            display: none;
        }
.cache-content {
            background-color: #f2f9ec; /* blanc antique */
            border: 1px solid green;
            color: black;
            border-radius: 5px;
            margin-top: 10px;
            margin-bottom: 1px;
            padding: 2px 10px; /* 2px en haut et en bas, 10px à gauche et à droite */
        }

        a {
            color: #4285f4; /* Couleur du lien */
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        .exercice-title {
            background-color: #7affb8; /* saumon */
            color: black;
            padding: 10px;
            font-weight: bold;
            border: 2px solid green;
            text-align: center;
            font-size: 16px;
            border-radius: 5px;
            margin-top: 20px;
        }

        .exercice-content {
            background-color: #FDF5E6; /* blanc antique */
            border: 3px solid yellow;
            color: black;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .proprietes {
            background-color: #f0f8f0;
            padding: 10px;
            border: 1px solid #004d00;
            margin: 10px 0;
        }

        .example-box {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 8px;
            width: 90%;
            max-width: 900px;
            margin: 0 auto;
            text-align: left;
        }
        .video-link {
            float: right;
            color: #1a0dab;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px; /* Align with the button */
            background-color: #eafafa
        }
        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 800px;
            padding: 20px;
            box-sizing: border-box;
        }

        .video-container iframe {
            width: 100%;
            height: 300px;
        }
.boxYoutube {
    background-color: #e0ffff; /* cyan très clair */
    border: 2px solid #000000; /* bordure noire */
    padding: 15px;
    margin: 10px 0;
font-weight: bold; /* texte en gras */
}
.underline-title {
            padding: 1px 0;
            border-bottom: 2px solid #4285f4;
            background-color: #ffffe0;
            color: #333;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 25px;
        }
        ul {
            margin-left: 20px;
            list-style-type: square;
        }

        a {
            color: #4285f4;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
.enumeratechiffre {
    counter-reset: list-counter;
    list-style: none;
    padding-left: 30px; /* Ajoute de l'espace à gauche de la liste */
}

.enumeratechiffre li {
    counter-increment: list-counter;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px; /* Espace entre le numéro et le texte */
}

.enumeratechiffre li::before {
    content: counter(list-counter) ")";
    font-weight: bold;
    margin-right: 5px;
    color: black;
    position: absolute;
    left: 0;
}
 .table-container {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
        }
        table {
            border-collapse: collapse;
            margin: 20px;
font-size: 0.8em; /* Réduit la taille du texte */
        }
        table, th, td {
            border: 1px solid black;
            text-align: center;
            padding: 5px;
        }
        /* Style pour le bouton de retour */
    .scroll-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #4285f4; /* Couleur du bouton */
            color: white; /* Couleur du texte */
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: none; /* Cacher le bouton par défaut */
        }
        /* Afficher le bouton lorsque l'utilisateur défile */
        .show {
            display: block;
        }
.t1 {
    font-size: 12pt; /* Taille des titres */
    text-decoration: underline; /* Soulignement des titres */
    /* text-align: center; */
    /*background-color: #98FB98;  Fond jaune très clair */
    color: maroon; /* Texte noir */
    padding: 5px;
    font-weight: bold; /* Ajoute du texte en gras */
}
.t2 {
    font-size: 12pt; /* Taille des titres */
    text-decoration: underline; /* Soulignement des titres */
    text-align: center; /* Centrage du texte */
    background-color: #d3d3d3; /* Fond gris clair autour du texte */
    color: maroon; /* Texte couleur bordeaux */
    padding: 5px 10px; /* Espace autour du texte */
    font-weight: bold; /* Texte en gras */
    border-radius: 5px; /* Coins arrondis */
    display: inline-block; /* Limite le fond gris clair à la largeur du texte */
}
